//
// + Safe Units
// =============================================

//
// + Scale Compensation
// =============================================

@function scale-comp($value, $scale: null) {
  @return if(is-null($scale), $value, (16 / $scale) * $value);
}

//
// + Convert
// =============================================

@function ceil-convert($value) {
  @return ceil($value) / 16;
}

@function floor-convert($value) {
  @return floor($value) / 16;
}

@function round-convert($value) {
  @return round($value) / 16;
}

@function convert($value) {
  @return $value / 16;
}

@function safe($value) {
  @return round($value * 16) / 16;
}

@function safe-convert($value) {
  @return round($value * 16) / 256;
}

//
// + Units
// =============================================

@function un($value, $scale: null) {
  @return safe-convert(scale-comp($value, $scale));
}

@function em($value, $scale: null) {
  $result: safe-convert(scale-comp($value, $scale));
  @return if($value == 0, $result, $result * 1em);
}

@function rem($value, $scale: null) {
  $result: safe-convert(scale-comp($value, $scale));
  @return if($value == 0, $result, $result * 1rem);
}

@function px($value, $scale: null) {
  $result: safe(scale-comp($value, $scale));
  @return if($value == 0, $result, $result * 1px);
}

@function pct($value, $scale: null) {
  $result: scale-comp($value, $scale);
  @return if($value == 0, $result, $result * 100%);
}

@function vw($value, $scale: null) {
  $result: scale-comp($value, $scale);
  @return if($value == 0, $result, $result * 1vw);
}

@function vh($value, $scale: null) {
  $result: scale-comp($value, $scale);
  @return if($value == 0, $result, $result * 1vh);
}

//
// + Floor
// =============================================

@function floor-un($value) {
  @return floor-convert($value);
}

@function floor-em($value) {
  $result: floor-convert($value);
  @return if($value == 0, $result, $result * 1em);
}

@function floor-rem($value) {
  $result: floor-convert($value);
  @return if($value == 0, $result, $result * 1rem);
}

@function floor-px($value) {
  $result: floor($value);
  @return if($value == 0, $result, $result * 1px);
}

//
// + Round
// =============================================

@function round-un($value) {
  @return round-convert($value);
}

@function round-em($value) {
  $result: round-convert($value);
  @return if($value == 0, $result, $result * 1em);
}

@function round-rem($value) {
  $result: round-convert($value);
  @return if($value == 0, $result, $result * 1rem);
}

@function round-px($value) {
  $result: round($value);
  @return if($value == 0, $result, $result * 1px);
}
