//
// + Test border
// =============================================================================


.test-border {
  /* input */
  @include border(16 em solid blue);

  /* output */
  border-top: 1em solid blue;
}

.test-border-shorthand-concat {
  /* input */
  @include border(16 32 em solid blue);

  /* output */
  border: 1em 2em solid blue;
}

.test-border-property-split-2 {
  /* input */
  @include border(16 x em solid blue);

  /* output */
  border-top: 1em solid blue;
  border-bottom: 1em solid blue;
}

.test-border-property-split-4 {
  /* input */
  @include border(16 16 16 x em solid blue);

  /* output */
  border-top: 1em solid blue;
  border-right: 1em solid blue;
  border-bottom: 1em solid blue;
}

.test-border-top-right-bottom-left {
  /* input */
  @include border-top(16 em solid blue);
  @include border-right(16 em solid blue);
  @include border-bottom(16 em solid blue);
  @include border-left(16 em solid blue);

  /* output */
  border-top: 1em solid blue;
  border-right: 1em solid blue;
  border-bottom: 1em solid blue;
  border-left: 1em solid blue;
}
