//
// + Position
// =============================================================================


@mixin position($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-absolute($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: absolute;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-fixed($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: fixed;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-inherit($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: inherit;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-relative($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: relative;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-static($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: static;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-sticky($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: sticky;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-unset($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: unset;
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

//
// + Shorthand
// =============================================================================


@mixin absolute($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include position-absolute($values, $units, $scale, $z, $flag);
}

@mixin fixed($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include position-fixed($values, $units, $scale, $z, $flag);
}

@mixin relative($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include position-relative($values, $units, $scale, $z, $flag);
}

@mixin static($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include position-static($values, $units, $scale, $z, $flag);
}

@mixin sticky($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include position-sticky($values, $units, $scale, $z, $flag);
}
