//
// + Position
// =============================================================================


@mixin position($arguments) {
  $z: check-z($arguments);
  $flag: check-flag($arguments);

  @if not contains-null($z) {
    $arguments: remove-item($arguments, $z);
  }

  @include save(join(position, $arguments));

  @if not contains-null($z) {
    @if contains-null($flag) {
      z-index: $z;
    }
    @else {
      z-index: join($z, $flag);
    }
  }
}

@mixin position-type($type, $arguments) {
  $flag: check-flag($arguments);

  @if contains-null($flag) {
    position: $type;
  }
  @else {
    position: join($type, $flag);
  }

  @include position($arguments);
}

@mixin position-absolute($arguments) {
  @include position-type(absolute, $arguments);
}

@mixin position-fixed($arguments) {
  @include position-type(fixed, $arguments);
}

@mixin position-relative($arguments) {
  @include position-type(relative, $arguments);
}

@mixin position-static($arguments) {
  @include position-type(static, $arguments);
}

@mixin position-sticky($arguments) {
  @include position-type(sticky, $arguments);
}
