//
// + Position
// =============================================================================


@mixin position($values, $units: null, $scale: null, $z: null, $flag: null) {
  @include ls(position, $values, $units, $scale, $flag);
  z-index: append($z, $flag);
}

@mixin position-absolute($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: absolute;
  @include position($values, $units, $scale, $flag);
}

@mixin position-fixed($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: fixed;
  @include position($values, $units, $scale, $flag);
}

@mixin position-relative($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: relative;
  @include position($values, $units, $scale, $flag);
}

@mixin position-static($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: static;
  @include position($values, $units, $scale, $flag);
}

@mixin position-sticky($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: sticky;
  @include position($values, $units, $scale, $flag);
}
