//
// + Position reset
// =============================================================================


@mixin position-inherit($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: inherit;
  @include position($values, $units, $scale, $flag);
}

@mixin position-initial($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: initial;
  @include position($values, $units, $scale, $flag);
}

@mixin position-unset($values, $units: null, $scale: null, $z: null, $flag: null) {
  position: unset;
  @include position($values, $units, $scale, $flag);
}
