@mixin save-position($arguments, $value) {
  $arguments: save-process-arguments($arguments);
  $values: cola-map-get($arguments, values);
  $others: cola-map-get($arguments, units scales styles colors flags);

  position: $value;

  @if length($values) == 1 {
    @include save(top nth($values, 1) $others);
    @include save(right nth($values, 1) $others);
    @include save(bottom nth($values, 1) $others);
    @include save(left nth($values, 1) $others);
  }
  @if length($values) == 2 {
    @include save(top nth($values, 1) $others);
    @include save(right nth($values, 2) $others);
    @include save(bottom nth($values, 1) $others);
    @include save(left nth($values, 2) $others);
  }
  @else if length($values) == 4 {
    @include save(top nth($values, 1) $others);
    @include save(right nth($values, 2) $others);
    @include save(bottom nth($values, 3) $others);
    @include save(left nth($values, 4) $others);
  }
}

@mixin absolute($arguments) {
  @include save-position($arguments, absolute);
}
@mixin fixed($arguments) {
  @include save-position($arguments, fixed);
}
@mixin relative($arguments) {
  @include save-position($arguments, relative);
}
@mixin static($arguments) {
  @include save-position($arguments, static);
}
@mixin sticky($arguments) {
  @include save-position($arguments, sticky);
}
