@mixin save-space($arguments, $margin, $padding) {
  $arguments: save-process-arguments($arguments);
  $values: map-get($arguments, values);
  $others: get($arguments, units scale style color flag);

  @if length($values) == 1 {
    @include save($margin $padding nth($values, 1) $others);
  }
  @else if length($values) == 2 {
    @include save($margin nth($values, 1) $others);
    @include save($padding nth($values, 2) $others);
  }
}

@mixin space($arguments) {
  @include save-space($arguments, margin, padding);
}
