@mixin save-size($arguments, $width, $height) {
  $arguments: save-process-arguments($arguments);
  $values: cola-map-get($arguments, values);
  $others: cola-map-get($arguments, units scale style color flag);

  @if length($values) == 1 {
    @include save($width nth($values, 1) $others);
    @include save($height nth($values, 1) $others);
  }
  @else if length($values) == 2 {
    @include save($width nth($values, 1) $others);
    @include save($height nth($values, 2) $others);
  }
}

@mixin size($arguments) {
  @include save-size($arguments, width, height);
}
@mixin min-size($arguments) {
  @include save-size($arguments, min-width, min-height);
}
@mixin max-size($arguments) {
  @include save-size($arguments, max-width, max-height);
}
