//
// + Size
// =============================================================================


@mixin properties-size($arguments, $properties) {
  $arguments: process-arguments($arguments);
  $values: map-get($arguments, values);

  @if length($values) == 1 {
    $values: nth($values, 1) nth($values, 1);
  }

  @if nth($values, 1) != null {
    $arguments: map-merge($arguments, (properties: nth($properties, 1)));
    $arguments: map-merge($arguments, (values: nth($values, 1)));
    @include lifesaver($arguments);
  }
  @if nth($values, 2) != null {
    $arguments: map-merge($arguments, (properties: nth($properties, 2)));
    $arguments: map-merge($arguments, (values: nth($values, 2)));
    @include lifesaver($arguments);
  }
}

@mixin size($arguments) {
  @include properties-size($arguments, width height);
}

@mixin min-size($arguments) {
  @include properties-size($arguments, min-width min-height);
}

@mixin max-size($arguments) {
  @include properties-size($arguments, max-width max-height);
}
