//
// + Size
// =============================================


@mixin size($value-list: null, $unit-list: null, $scale: null, $flag: null) {
  $length: length($value-list);

  @if $length == 2 {
    $width:  nth($value-list, 1);
    $height: nth($value-list, 2);

    @include ls(width, $width, $unit-list, $scale, $flag);
    @include ls(height, $height, $unit-list, $scale, $flag);
  }
  @else if $length == 1 {
    $width:  nth($value-list, 1);
    $height: nth($value-list, 1);

    @include ls(width, $width, $unit-list, $scale, $flag);
    @include ls(height, $height, $unit-list, $scale, $flag);
  }
  @else {
    @error 'Mayday! LifeSaver: You can only pass up to 2 values to size.';
  }
}