.test-border {
  /* input */
  @include border(16 em solid blue);

  /* output */
  border: 1em solid blue;
}

.test-border-2 {
  /* input */
  @include border(16 32 em solid blue);

  /* output */
  border: 1em 2em solid blue;
}

.test-border-4 {
  /* input */
  @include border(16 32 48 64 em solid blue);

  /* output */
  border: 1em 2em 3em 4em solid blue;
}

.test-border-split-2 {
  /* input */
  @include border(16 x em solid blue);
  @include border(x 16 em solid blue);

  /* output */
  border-top: 1em solid blue;
  border-bottom: 1em solid blue;
  border-right: 1em solid blue;
  border-left: 1em solid blue;
}

.test-border-split-4 {
  /* input */
  @include border(16 16 16 x em solid blue);

  /* output */
  border-top: 1em solid blue;
  border-right: 1em solid blue;
  border-bottom: 1em solid blue;
}

.test-border-color {
  /* input */
  @include margin(10 em 2);
  @include save('border-color' red x green blue);

  /* output */
  border-top-color: red;
  border-bottom-color: green;
  border-left-color: blue;
}

.test-border-style {
  /* input */
  @include save('border-color' solid x dotted dashed);

  /* output */
  border-top-color: solid;
  border-bottom-color: dotted;
  border-left-color: dashed;
}
