//
// + Test position
// =============================================================================


.test-position {
  /* input */
  @include position(16 x x x em 2z !important);

  /* output */
  top: 1em !important;
  z-index: 2 !important;
}

.test-position-absolute {
  /* input */
  @include position-absolute(16 x x x em 2z !important);

  /* output */
  position: absolute !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-position-relative {
  /* input */
  @include position-relative(16 x x x em 2z !important);

  /* output */
  position: relative !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-position-fixed {
  /* input */
  @include position-fixed(16 x x x em 2z !important);

  /* output */
  position: fixed !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-position-static {
  /* input */
  @include position-static(16 x x x em 2z !important);

  /* output */
  position: static !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-position-sticky {
  /* input */
  @include position-sticky(16 x x x em 2z !important);

  /* output */
  position: sticky !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-absolute {
  /* input */
  @include absolute(16 x x x em 2z !important);

  /* output */
  position: absolute !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-relative {
  /* input */
  @include relative(16 x x x em 2z !important);

  /* output */
  position: relative !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-fixed {
  /* input */
  @include fixed(16 x x x em 2z !important);

  /* output */
  position: fixed !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-static {
  /* input */
  @include static(16 x x x em 2z !important);

  /* output */
  position: static !important;
  top: 1em !important;
  z-index: 2 !important;
}

.test-sticky {
  /* input */
  @include sticky(16 x x x em 2z !important);

  /* output */
  position: sticky !important;
  top: 1em !important;
  z-index: 2 !important;
}
