//
// + Test padding
// =============================================================================


.test-padding {
  /* input */
  @include padding(16 em);
  @include padding-top(16 em);
  @include padding-right(16 em);
  @include padding-bottom(16 em);
  @include padding-left(16 em);

  /* output */
  padding: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
