//
// + Test padding
// =============================================================================


.test-padding {
  /* input */
  @include padding(1 !important);
  @include padding-top(1 !important);
  @include padding-right(1 !important);
  @include padding-bottom(1 !important);
  @include padding-left(1 !important);

  /* output */
  padding: 1 !important;
  padding-top: 1 !important;
  padding-right: 1 !important;
  padding-bottom: 1 !important;
  padding-left: 1 !important;
}
