//
// + Test width height
// =============================================================================


.test-width {
  /* input */
  @include width(16 em !important);
  @include min-width(16 em !important);
  @include max-width(16 em !important);

  /* output */
  width: 1em !important;
  min-width: 1em !important;
  max-width: 1em !important;
}

.test-height {
  /* input */
  @include height(16 em !important);
  @include min-height(16 em !important);
  @include max-height(16 em !important);

  /* output */
  height: 1em !important;
  min-height: 1em !important;
  max-height: 1em !important;
}

.test-size {
  /* input */
  @include size(16 em !important);
  @include min-size(16 em !important);
  @include max-size(16 em !important);

  /* output */
  width: 1em !important;
  height: 1em !important;
  min-width: 1em !important;
  min-height: 1em !important;
  max-width: 1em !important;
  max-height: 1em !important;
}

.test-size-split {
  /* input */
  @include size(16 32 em !important);
  @include min-size(16 32 em !important);
  @include max-size(16 32 em !important);

  /* output */
  width: 1em !important;
  height: 2em !important;
  min-width: 1em !important;
  min-height: 2em !important;
  max-width: 1em !important;
  max-height: 2em !important;
}

.test-size-split {
  /* input */
  @include size(16 x em !important);
  @include min-size(16 x em !important);
  @include max-size(16 x em !important);

  /* output */
  width: 1em !important;
  min-width: 1em !important;
  max-width: 1em !important;
}

.test-size-split-null {
  /* input */
  @include size(x 32 em !important);
  @include min-size(x 32 em !important);
  @include max-size(x 32 em !important);

  /* output */
  height: 2em !important;
  min-height: 2em !important;
  max-height: 2em !important;
}
