//
// + Test margin
// =============================================================================


.test-margin {
  /* input */
  @include margin(16 em);
  @include margin-top(16 em);
  @include margin-right(16 em);
  @include margin-bottom(16 em);
  @include margin-left(16 em);

  /* output */
  margin: 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}
