//
// + Test compress matching values
// =============================================================================


.test-compress-matching-values {
  /* input */
  content: compress-matching-values(16 16);

  /* output */
  content: 16;
}

.test-compress-matching-values {
  /* input */
  content: compress-matching-values(16 32);

  /* output */
  content: 16 32;
}

.test-compress-matching-values {
  /* input */
  content: compress-matching-values(16 16 16 16);

  /* output */
  content: 16 16;
}

.test-compress-matching-values {
  /* input */
  content: compress-matching-values(16 32 16 32);

  /* output */
  content: 16 32;
}

.test-compress-matching-values {
  /* input */
  content: compress-matching-values(16 32 48 64);

  /* output */
  content: 16 32 48 64;
}
