//
// + Test process value
// =============================================================================


.test-process-value {
  /* input */
  content: process-value(auto);

  /* output */
  content: auto;
}

.test-process-value {
  /* input */
  content: process-value(0);

  /* output */
  content: 0;
}

.test-process-value {
  /* input */
  content: process-value(x);

  /* output */
}

.test-process-value {
  /* input */
  content: process-value(16);

  /* output */
  content: 16;
}

.test-process-value {
  /* input */
  content: process-value(16, em);

  /* output */
  content: 1em;
}

.test-process-value {
  /* input */
  content: process-value(16, x, 8);

  /* output */
  content: 32;
}

.test-process-value {
  /* input */
  content: process-value(16, em, 8);

  /* output */
  content: 2em;
}
