//
// + Test units
// =============================================


.test-unit-em {
  @include ls(margin, 1, em);
  margin: 0.0625em;
}

.test-unit-rem {
  @include ls(margin, 1, rem);
  margin: 0.0625rem;
}

.test-unit-px {
  @include ls(margin, 1, px);
  margin: 1px;
}

.test-unit-pct {
  @include ls(margin, 1, pct);
  margin: 1%;
}

.test-unit-vw {
  @include ls(margin, 1, vw);
  margin: 1vw;
}

.test-unit-vh {
  @include ls(margin, 1, vh);
  margin: 1vh;
}
