//
// + Test units
// =============================================================================


.test-unit-em {
  @include margin(1, em);
  margin: 0.0625em;
}

.test-unit-rem {
  @include margin(1, rem);
  margin: 0.0625rem;
}

.test-unit-px {
  @include margin(1, px);
  margin: 1px;
}

.test-unit-pct {
  @include margin(1, pct);
  margin: 100%;
}

.test-unit-vw {
  @include margin(1, vw);
  margin: 1vw;
}

.test-unit-vh {
  @include margin(1, vh);
  margin: 1vh;
}
