//
// + Test margin padding
// =============================================================================


.test-margin {
  /* input */
  @include margin(16 em);
  @include padding(16 em);

  /* output */
  margin: 1em;
  padding: 1em;
}

.test-margin-shorthand-concat {
  /* input */
  @include margin(16 16 em);
  @include padding(16 16 em);

  /* output */
  margin: 1em 1em;
  padding: 1em 1em;
}

.test-margin-property-split-2 {
  /* input */
  @include margin(16 x em);
  @include padding(16 x em);

  /* output */
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.test-margin-property-split-4 {
  /* input */
  @include margin(16 16 16 x em);
  @include padding(16 16 16 x em);

  /* output */
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.test-margin-top-right-bottom-left {
  /* input */
  @include margin-top(16 em);
  @include margin-right(16 em);
  @include margin-bottom(16 em);
  @include margin-left(16 em);
  @include padding-top(16 em);
  @include padding-right(16 em);
  @include padding-bottom(16 em);
  @include padding-left(16 em);

  /* output */
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
