//
// + Test split properties
// =============================================================================


.test-split-properties {
  /* input */
  @include save(margin 16 x em);

  /* output */
  margin-top: 1em;
  margin-bottom: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin x 16 em);

  /* output */
  margin-right: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin 16 16 x x em);

  /* output */
  margin-top: 1em;
  margin-right: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin 16 x 16 x em);

  /* output */
  margin-top: 1em;
  margin-bottom: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin 16 x x 16 em);

  /* output */
  margin-top: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin x 16 x 16 em);

  /* output */
  margin-right: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin x x 16 16 em);

  /* output */
  margin-bottom: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin x 16 16 16 em);

  /* output */
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin 16 x 16 16 em);

  /* output */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin 16 16 x 16 em);

  /* output */
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.test-split-properties {
  /* input */
  @include save(margin 16 16 16 x em);

  /* output */
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
