//
// + LifeSaver
// =============================================================================


@mixin lifesaver($arguments) {
  $properties: map-get($arguments, properties);
  $values:     map-get($arguments, values);
  $style:      map-get($arguments, style); // border
  $color:      map-get($arguments, color); // border
  $units:      map-get($arguments, units);
  $scale:      map-get($arguments, scale);
  $flag:       map-get($arguments, flag);

  @each $property in $properties {
    @if contains-null($values) or $property == 'position' {
      @include property-split($property, $values, $style, $color, $units, $scale, $flag);
    }
    @else {
      @include shorthand-concat($property, $values, $style, $color, $units, $scale, $flag);
    }
  }
}

@mixin save($arguments) {
  $arguments: process-arguments($arguments);
  @include lifesaver($arguments);
}
