@mixin save($arguments) {
  $arguments: save-process-arguments($arguments);

  $properties: map-get($arguments, 'properties');
  $values: map-get($arguments, 'values');
  $units: map-get($arguments, 'units');
  $scale: map-get($arguments, 'scale');
  $style: map-get($arguments, 'style');
  $color: map-get($arguments, 'color');
  $flag: map-get($arguments, 'flag');

  @each $property in $properties {
    $suffix: save-suffix($property);

    @if index($values, null) {
      $values: save-expand-values($values);

      @for $i from 1 through length($values) {
        $value: nth($values, $i);
        $property-suffix: save-append-suffix($property, nth($suffix, $i));

        @if $value {
          @include save-output($property-suffix, $value, $units, $scale, $style, $color, $flag);
        }
      }
    }
    @else {
      @include save-output($property, $values, $units, $scale, $style, $color, $flag);
    }
  }
}
