@mixin save($arguments) {
  $arguments: save-process-arguments($arguments);

  $properties: cola-map-get($arguments, properties);
  $values: cola-map-get($arguments, values);
  $units: cola-map-get($arguments, units);
  $scales: cola-map-get($arguments, scales);
  $styles: cola-map-get($arguments, styles);
  $colors: cola-map-get($arguments, colors);
  $flags: cola-map-get($arguments, flags);

  @each $property in $properties {
    $suffix: save-suffix($property);

    @if index($values, null) {
      $values: save-expand-values($values);

      @for $i from 1 through length($values) {
        $value: nth($values, $i);
        $property-suffix: save-append-suffix($property, nth($suffix, $i));

        @if $value {
          @include save-output($property-suffix, $value, $units, $scales, $styles, $colors, $flags);
        }
      }
    }
    @else {
      @include save-output($property, $values, $units, $scales, $styles, $colors, $flags);
    }
  }
}
