//
// + Contains type
// =============================================================================


@function contains-only-items($list, $item-list) {
  @each $item in $list {
    @if not index($item-list, $item) {
      @return null;
    }
  }
  @return true;
}

@function save-type-of($value) {
  $styles: none hidden dotted dashed solid double groove ridge inset outset;
  @if index($styles, $value) {
    @return style;
  }
  @return type-of($value);
}

@function types-in($list) {
  $result: ();
  @each $item in $list {
    $result: join($result, type-of($item));
  }
  @return $result;
}

@function contains-type($list, $type) {
  @if index(types-in($list), $type) {
    @return true;
  }
  @return null;
}

@function contains-types($list, $types) {
  @each $type in $types {
    @if contains-type($list, $type) {
      @return true;
    }
  }
  @return null;
}

// I think these could be re-written using the functions above.
@function contains-only-type($list, $type) {
  @each $item in $list {
    @if type-of($item) != $type {
      @return null;
    }
  }
  @return true;
}

// I think these could be re-written using the functions above.
@function contains-only-types($list, $types) {
  @each $item in $list {
    // @if not index($types, type-of($item)) {
    @if not index($types, save-type-of($item)) {
      @return null;
    }
  }
  @return true;
}

// should these be things??
@function contains-null($value) {
  @return contains-type($value, 'null');
}

@function contains-color($value) {
  @return contains-type($value, color);
}

@function contains-string($value) {
  @return contains-type($value, string);
}

@function contains-number($value) {
  @return contains-type($value, number);
}
