//
// + Remove nth
// =============================================================================


@function remove-nth($list, $index) {
  $first: ();
  $second: ();

  @each $item in $list {
    $i: index($list, $item);

    @if $i < $index {
      $first: join($first, $item);
    }
    @else if $i > $index {
      $second: join($second, $item);
    }
  }

  @return join($first, $second);
}
