//
// + Remove nth
// =============================================================================


@function remove-nth($list, $index) {
  $first: ();
  $second: ();

  @each $item in $list {
    $i: index($list, $item);

    @if $i < $index {
      @if $first {
        $first: join($first, $item);
      }
      @else {
        $first: $item;
      }
    }
    @else if $i > $index {
      @if $second {
        $second: join($second, $item);
      }
      @else {
        $second: $item;
      }
    }
  }

  @if not $first {
    @return $second;
  }
  @else if not $second {
    @return $first;
  }
  @else {
    @return join($first, $second);
  }
}
