//
// + Property split
// =============================================================================


@mixin property-split($property, $values, $style, $color, $units, $scale, $flag) {
  $suffix: top right bottom left;

  @if $property == border-radius {
    $suffix: top-left top-right bottom-right bottom-left;
  }

  $map: (
    nth($suffix, 1): nth($values, 1),
    nth($suffix, 2): nth($values, 2),
    nth($suffix, 3): if(length($values) == 2, nth($values, 1), nth($values, 3)),
    nth($suffix, 4): if(length($values) == 2, nth($values, 2), nth($values, 4))
  );

  @each $unit in $units {
    @each $key in map-keys($map) {
      $property-key: append-suffix($property, $key);
      $value: process-value(map-get($map, $key), $unit, $scale);

      @if not contains-null($value) {
        #{$property-key}: $value $style $color $flag;
      }
    }
  }
}
