//
// + Shorthand concat
// =============================================================================


@mixin shorthand-concat($property, $values, $style, $color, $units, $scale, $flag) {
  @each $unit in $units {
    $result: ();

    @each $value in $values {
      $value: process-value($value, $unit, $scale);
      $result: join($result, $value $style $color);
    }

    #{$property}: join($result, $flag);
  }
}
