//
// + Properties values
// =============================================================================


@mixin properties-values($arguments, $properties, $value-type) {
  $arguments: process-arguments($arguments);
  $value: map-get($arguments, values);
  $arguments: map-merge($arguments, (properties: $properties));

  // error if length($value) > 1

  @if $value-type == top {
    $arguments: map-merge($arguments, (values: $value x x x));
  }
  @else if $value-type == right {
    $arguments: map-merge($arguments, (values: x $value x x));
  }
  @else if $value-type == bottom {
    $arguments: map-merge($arguments, (values: x x $value x));
  }
  @else if $value-type == left {
    $arguments: map-merge($arguments, (values: x x x $value));
  }

  @include lifesaver($arguments);
}
