//
// + Properties values
// =============================================================================


@mixin properties-values($arguments, $properties, $value-type) {
  $arguments: process-arguments($arguments);
  $value: map-get($arguments, values);
  $arguments: map-merge($arguments, (properties: $properties));

  // error if length($value) > 1

  // Convert value from a list to value
  $value: nth($value, 1);

  @if $value-type == top {
    $arguments: map-merge($arguments, (values: $value null null null));
  }
  @else if $value-type == right {
    $arguments: map-merge($arguments, (values: null $value null null));
  }
  @else if $value-type == bottom {
    $arguments: map-merge($arguments, (values: null null $value null));
  }
  @else if $value-type == left {
    $arguments: map-merge($arguments, (values: null null null $value));
  }

  @include lifesaver($arguments);
}
