//
// + Append suffix
// =============================================================================


@function append-suffix($property, $suffix) {
  @if $property == 'margin' {
    $property: 'margin-' + $suffix;
  }
  @else if $property == 'padding' {
    $property: 'padding-' + $suffix;
  }
  @else if $property == 'border' {
    $property: 'border-' + $suffix;
  }
  @else if $property == 'border-width' {
    $property: 'border-' + $suffix + '-width';
  }
  @else if $property == 'border-style' {
    $property: 'border-' + $suffix + '-style';
  }
  @else if $property == 'border-radius' {
    $property: 'border-' + $suffix + '-radius';
  }
  @else if $property == 'border-color' {
    $property: 'border-' + $suffix + '-color';
  }

  @return $property;
}
