//
// + Compress matching values
// =============================================================================


@function compress-matching-values($values) {
  @if length($values) == 2 {
    @if nth($values, 1) == nth($values, 2) {
      $values: nth($values, 1);
    }
  }
  @else if length($values) == 4 {
    @if nth($values, 1) == nth($values, 3) and nth($values, 4) == nth($values, 2) {
      $values: nth($values, 1) nth($values, 2);
    }
    @else if nth($values, 1) == nth($values, 2) and nth($values, 1) == nth($values, 3) and nth($values, 1) == nth($values, 4) {
      $values: nth($values, 1);
    }
  }

  @return $values;
}
