//
// + Property functions
// =============================================================================


@function check-flag($arguments) {
  @each $argument in $arguments {
    @if type-of($argument) == string and str-index($argument, '!') == 1 {
      @return $argument;
    }
  }
}

@function check-z($arguments) {
  @each $argument in $arguments {
    @if type-of($argument) == number and unit($argument) == z {
      @return remove-unit($argument);
    }
  }
}

@function check-values($arguments) {
  $values: null;

  @each $argument in $arguments {
    @if contains-null($argument) or type-of($argument) == number {
      @if $values == null {
        $values: $argument;
      }
      @else {
        $values: join($values, $argument);
      }
    }
  }

  @if $values == null {
    @error 'LifeSaver Error: You must pass a value argument.';
  }
  @else if length($values) == 3 {
    @error 'LifeSaver Error: You cannot pass three values.';
  }
  @else if length($values) > 4 {
    @error 'LifeSaver Error: You cannot pass more than 4 values.';
  }

  @return $values;
}
