//
// + Process arguments
// =============================================================================


@function process-arguments($arguments) {
  $properties: null;
  $values:     null;
  $units:      null;
  $scale:      null;
  $flag:       null;

  @each $argument in $arguments {
    @if not contains-null($argument) and type-of($argument) == string  {

      // $unit
      @if function-exists($argument) {
        @if $units == null {
          $units: $argument;
        }
        @else {
          $units: append($units, $argument);
        }
      }

      // $flag
      @else if str-index($argument, '!') == 1 {
        @if $flag == null {
          $flag: $argument;
        }
        @else {
          @error 'LifeSaver Error: You can only pass one flag argument.';
        }
      }

      // $properties
      @else if $properties == null {
        $properties: $argument;
      }
      @else {
        $properties: append($properties, $argument);
      }
    }
    @else if contains-null($argument) or type-of($argument) == number {

      // $scale
      @if not contains-null($argument) and unit($argument) == x {
        @if $scale == null {
          $scale: $argument;
        }
        @else {
          @error 'LifeSaver Error: You can only pass one scale argument.';
        }
      }

      // $values
      @else if $values == null {
        $values: $argument;
      }
      @else {
        $values: append($values, $argument);
      }
    }
  }

  @if $properties == null {
    @error 'LifeSaver Error: You must pass a property argument.';
  }

  @if $values == null {
    @error 'LifeSaver Error: You must pass a value argument.';
  }
  @else if length($values) == 3 {
    @error 'LifeSaver Error: You cannot pass three values.';
  }
  @else if length($values) > 4 {
    @error 'LifeSaver Error: You cannot pass more than 4 values.';
  }

  @return $properties $values $units $scale $flag;
}
