//
// + Process arguments
// =============================================================================


@function process-arguments($arguments) {
  $properties: null;
  $values:     null;
  $style:      null; // border
  $color:      null; // border
  $units:      null;
  $scale:      null;
  $flag:       null;

  $styles: none hidden dotted dashed solid double groove ridge inset outset;

  @each $argument in $arguments {

    // $color
    @if not contains-null($argument) and type-of($argument) == color {
      @if $values {
        @if $color {
          $color: join($color, $argument);
        }
        @else {
          $color: $argument;
        }
      }
      @else {
        @if $color {
          $values: join($values, $argument);
        }
        @else {
          $values: $argument;
        }
      }
    }
    @else if not contains-null($argument) and type-of($argument) == string {

      // $style
      @if index($styles, $argument) {
        @each $item in $styles {
          @if $argument == $item {
            @if $color {
              $style: join($style, $argument);
            }
            @else {
              $style: $argument;
            }
          }
        }
      }

      // $unit
      @if function-exists($argument) {
        @if $units {
          $units: join($units, $argument);
        }
        @else {
          $units: $argument;
        }
      }

      // $flag
      @else if str-index($argument, '!') == 1 {
        @if not $flag { // can i remove not logic here?
          $flag: $argument;
        }
      }

      // $properties
      @else if $properties {
        $properties: join($properties, $argument);
      }
      @else {
        $properties: $argument;
      }
    }
    @else if contains-null($argument) or type-of($argument) == number {

      // $scale
      @if not contains-null($argument) and unit($argument) == x {
        @if not $scale { // can i remove not logic here?
          $scale: $argument;
        }
      }

      // $values
      @else if $values {
        $values: join($values, $argument);
      }
      @else {
        $values: $argument;
      }
    }
  }

  @return (
    properties: $properties,
    values:     compress-matching-values($values),
    style:      $style,
    color:      $color,
    units:      $units,
    scale:      $scale,
    flag:       $flag
  );
}
