//
// + Process value
// =============================================================================


@function process-value($value, $unit, $scale) {
  @if contains-null($value) {
    $value: null;
  }
  @else if contains-null($unit) {
    $value: scale-comp($value, $scale);
  }
  @else if function-exists($unit) {
    $value: call($unit, $value, $scale);
  }

  @return $value;
}
