@function save-append-suffix($property, $suffix) {
  $list: 'border-width' 'border-style' 'border-radius' 'border-color';

  @if $property == null {
    $property: $suffix;
  }
  @else if index($list, $property) {
    $split: str-split($property, '-');
    $property: dash(nth($split, 1) $suffix nth($split, 2));
  }
  @else {
    $property: dash($property $suffix);
  }

  @return $property;
}
