@function save-compress-values($values) {
  $items: ();
  $half: length($values) / 2;

  @if not cola-floating-point($half) { // i don't have to check for floating points in javascript
    @for $i from 1 through $half {
      @if nth($values, $i) == nth($values, $i + $half) {
        $items: cola-join($items, nth($values, $i));

        @if $i == $half {
          @return save-compress-values($items);
        }
      }
      @else {
        @return $values; // why extra return here? i don't have to in javascript
      }
    }
  }

  @return $values;
}
