@function save-process-values($values, $unit, $scales) {
  $result: ();

  // fix this
  $scales: if(length($scales) == 0, null, $scales);
  $unit: if(length($unit) == 0, null, $unit);

  // $scales: cola-strip-unit($scales);

  @each $value in $values {
    @if function-exists($unit) {
      $result: cola-join($result, call($unit, $value, $scales));
    }
    @else {
      $result: cola-join($result, $value + $unit);
    }
  }

  @return $result;
}
