@function save-process-values($values, $unit, $scale) {
  $result: ();

  @each $value in $values {
    @if function-exists($unit) {
      @if length($scale) == 0 {
        $result: join($result, call($unit, $value));
      }
      @else {
        $result: join($result, call($unit, $value, $scale));
      }
    }
    @else {
      $result: join($result, $value + $unit);
    }
  }

  @return $result;
}
