@function save-process-arguments($arguments) {
  $properties: ();
  $values:     ();
  $units:      ();
  $scales:     ();
  $styles:     ();
  $colors:     ();
  $flags:      ();

  @each $argument in $arguments {
    @if $argument == x { $argument: null; }

    // not sure how to handle unitless lengths
    @if cola-type-of($argument) == length or $argument == un {
      $units: cola-join($units, $argument);
    }
    @else if cola-type-of($argument) == string {
      $properties: cola-join($properties, $argument);
    }
    // @else if cola-type-of($argument) == number and unit($argument) == x {
    @else if cola-type-of($argument) == number and $units != () {
      $scales: cola-join($scales, $argument);
    }
    @else if cola-contains-type-and($argument, null number) {
      $values: cola-join($values, $argument);
    }
    @else if cola-type-of($argument) == style {
      @if cola-contains-type-and($values, null style) {
        $values: cola-join($values, $argument);
      }
      @else {
        $styles: cola-join($styles, $argument);
      }
    }
    @else if cola-type-of($argument) == color {
      @if cola-contains-type-and($values, null color) {
        $values: cola-join($values, $argument);
      }
      @else {
        $colors: cola-join($colors, $argument);
      }
    }
    @else if cola-type-of($argument) == flag {
      $flags: cola-join($flags, $argument);
    }
  }

  $values: save-compress-values($values);

  @return (
    properties: $properties,
    values:     $values,
    units:      $units,
    scales:     $scales,
    styles:     $styles,
    colors:     $colors,
    flags:      $flags
  );
}
