@function save-compress-values($values) {
  $items: ();
  $half: length($values) / 2;

  @if not cola-floating-point($half) {
    @for $i from 1 through $half {
      @if nth($values, $i) == nth($values, $i + $half) {
        $items: cola-join($items, nth($values, $i));

        @if $i == $half {
          @return save-compress-values($items);
        }
      }
    }
  }

  @return $values;
}
