@function save-process-arguments($arguments) {
  $arguments: flatten($arguments);

  $properties: ();
  $values: ();
  $units: ();
  $scales: ();
  $styles: ();
  $colors: ();
  $flags: ();

  @each $argument in $arguments {
    @if $argument == 'x' {
      $argument: null;
    }

    @if type-property($argument) {
      $properties: join($properties, $argument);
    }
    @else if type-style($argument) {
      @if cola-contains-type-only($values, 'null' 'style') or length($values) == 0 {
        $values: join($values, $argument);
      }
      @else {
        $styles: join($styles, $argument);
      }
    }
    @else if type-color($argument) {
      @if cola-contains-type-only($values, 'null' 'color') or length($values) == 0 {
        $values: join($values, $argument);
      }
      @else {
        $colors: join($colors, $argument);
      }
    }
    @else if type-null($argument) or type-number($argument) {
      $values: join($values, $argument);
    }
    @else if type-length($argument) or $argument == 'un' {
      $units: join($units, $argument);
    }
    @else if type-number($argument) {
      $scales: join($scales, $argument);
    }
    @else if type-flag($argument) {
      $flags: join($flags, $argument);
    }
  }

  @return (
    properties: $properties,
    values: $values,
    units: $units,
    scale: $scales,
    style: $styles,
    color: $colors,
    flag: $flags
  );
}
