//
// + Border
// =============================================================================


@mixin properties-colors-styles($arguments, $properties) {
  $arguments: process-arguments($arguments);
  $color: map-get($arguments, color);
  $style: map-get($arguments, style);
  $arguments: map-merge($arguments, (properties: $properties));
  $arguments: map-merge($arguments, (color: $color));
  $arguments: map-merge($arguments, (style: $style));

  @include lifesaver($arguments);
}

@mixin border($arguments) {
  @include properties-colors-styles($arguments, border);
}

@mixin border-top($arguments) {
  @include properties-values($arguments, border, top);
}

@mixin border-right($arguments) {
  @include properties-values($arguments, border, right);
}

@mixin border-bottom($arguments) {
  @include properties-values($arguments, border, bottom);
}

@mixin border-left($arguments) {
  @include properties-values($arguments, border, left);
}
